/*  Custom style : 20190711 Yubin Chung */

/* Common */
html{min-width:320px;}
body{background-color:var(--light);
  .material-icons {vertical-align: middle;}
  .app-body{
    .main {padding-bottom: 100px;}
    .page-title {background-color: #fff;height: 45px;line-height: 45px; font-size: 14px;font-weight: bold;padding: 0 0 0 20px;margin-bottom: 1rem;color:#00adef}
    .form-control{appearance: none;border-color:var(--border);height: 38px;cursor: pointer;font-size:13px;border-radius:0!important;color:#d6d6d6;
      option {color:#d6d6d6;
        &.nms{color:#000;}
      }
      &:focus{box-shadow:none;}
    }
    .select_wrap{position: relative;
      &:before{content:"";position: absolute; right: 8px;top: 54%;transform: translateY(-54%); border-top: 5px solid #43425d;border-left: 5px solid transparent;border-right: 5px solid transparent;}
    }
    button{box-shadow:none;outline:none;
      &.btn:focus, &.btn.focus{box-shadow:none;}
      &.btn-link{color:#3b86ff;font-weight:bold;}
      i{color:#43425d}
    }
    input::-webkit-input-placeholder{color:#d6d6d6}
    input:-ms-input-placeholder{color:#d6d6d6}
    input::placeholder{color:#d6d6d6}
    
  }
}

/* Nav */
.navbar{border-color:var(--border);
  .navbar-brand{
    .navbar-brand-full{display:block;width:60%;margin:0 auto}
  }
  .navbar-search {width:40%;max-width:40%;
    .btn {width: 35px;padding: 0;box-shadow:none;}
    #nav_search{box-shadow:none;border:none;
      &::-webkit-input-placeholder{color:#43425d}
      &:-ms-input-placeholder{color:#43425d}
      &::placeholder{color:#43425d}
    }
  }
  .navbar-nav {
    .nav-item{min-width:40px;
      &.dropdown{position: relative;padding-left: 20px;margin: 0 30px 0 10px;
        &:before{content:"";display:block;position: absolute;width:1px;height:25px;top:5px;left:0;background-color:var(--border)}
        .nav-link{color:var(--dark);position: relative;padding-right:40px;line-height:35px;
          i{font-size: 16px;font-weight: bold;color: var(--gray);
            &.drop_close{display: none;}
          }
          &[aria-expanded="true"] {
            i.drop_close{display: inline-block;}
            i.drop_open{display: none;}
          }
          .img-avatar{margin:0;position: absolute;top:0;right:0;}
        }
        .dropdown-menu{
          .dropdown-item{font-size:13px;border-color:var(--border);
            i{font-size:18px;color:#73818f}
            &:active{background-color:var(--primary);font-weight:bold;
              i{color:var(--white);}
            }
          }
        }
      }
    }
    .nav-link i{color:#bcbccb}
  }
}

/* Sidebar */
.sidebar{background-color:var(--dark);
  .nav-item{line-height: 18px;
    &.open{
      .nav-link{background-color:var(--primary);font-weight:bold;
      }
    }
    &:not(.open) .nav-link:hover{background-color:#808080}
    .material-icons{font-size:18px;margin-right:5px;vertical-align: bottom;}
    .nav-link{padding:0.9rem 1rem}
  }
  .nav-title{position: relative;position: relative;font-size: 13px;line-height: 22px;
    .btn{position: absolute;right: 1rem;padding: 0 7px;font-weight: bold; border: none;line-height: 22px;top:12px;box-shadow:none;}
  }
}

/* Card */
.card{margin-bottom:1rem;
  &.job_list{color:#43425d;
    .list-title {cursor: pointer;color:#43425d;
      * {line-height:35px;}
      .item_meta_wrap{
        .img-avatar{width:35px;height:35px;float:left;margin-right:1rem;
          ~.card-title{line-height:35px;padding-left:2rem;font-weight: bold;white-space: nowrap;}
        }
      }
      .item_info_wrap{ 
        span{padding-left:5%;display: inline-block;font-size:13px;
          &:first-child{padding-left:0;}
        }
      }
      .item_status_wrap{
        .badge{padding: 0 1rem;font-size: 0.75rem;line-height: 25px!important;margin: 5px 0 0 12px;background-color:var(--blue)}
      }
    }
  }
  &.job_search{
    label{font-size:12px;white-space: nowrap;color:#43425d;font-weight:bold;}
    .select_wrap{display:inline-block;width:100%;
      &.cat{width:30%;}
      &+.search_wrap {width: 70%;
        #job_search{border:none;}
      }
    }
    .sorting_wrap{border-left:2px solid var(--light)}
  }
}

/* select2 */
.select2-container{width:100%!important;
  .select2-dropdown{border-color:var(--border)}
  .select2-selection{border:1px solid var(--border)!important;min-height: 38px!important;border-radius:0!important;
    input.select2-search__field{line-height: 26px;padding-left: 10px;}
    .select2-selection__choice{background-color:#bfbfbf!important;color:#fff;font-weight:bold;direction: rtl;padding: 0 5px!important;border-radius: 0!important;
      &+.select2-search.select2-search--inline{display: none;}
      &[title="In Progress"]{border-color:var(--blue)!important;background-color:var(--blue)!important; color:var(--white)}
      &[title="Pending"]{border-color:var(--warning)!important;background-color:var(--warning)!important; }
      &[title="Complete"]{border-color:var(--success)!important;background-color:var(--success)!important; color:var(--white)}
      span{line-height:23px;
        &>img{float:left;}
        &.select2-selection__choice__remove{margin-left:7px!important;color:var(--white);font-size: 17px;margin-right:0;}
      }
    }
    .select2-selection__rendered{position: relative;padding:0 10px!important;
      &:before{content:"";position: absolute; right: 8px;top: 60%;transform: translateY(-60%); border-top: 5px solid #43425d;border-left: 5px solid transparent;border-right: 5px solid transparent;}
    }
  }
  .select2-results{
    .select2-results__option{padding:.5rem;
      span{line-height:25px;}
    }
    .select2-results__option--highlighted[aria-selected] {background-color: var(--primary);}
  }
  .select2-selection__choice{padding: 0 10px!important;font-size:12px;border:1px solid var(--border)!important}
  .img-profile {margin: 2px 5px 0 0 !important;display: inherit!important;height:20px;width:20px;border-radius:50%;vertical-align:middle}
}

/* Table */
table{margin-top: 1rem;table-layout:fixed;
  tr{border-left:4px solid #fff;border-bottom:1px solid var(--light);
    &.danger{border-left-color:var(--danger);background-color:var(--danger-light)}
    &.warning{border-left-color:var(--warning);background-color:var(--warning-light)}
  }
  th,td{border:none!important;text-align:center;vertical-align:middle!important;
    &.th_batchname{width:16%;padding-left:20px!important;}
    &.table_progress {width:120px;vertical-align: middle;
      .progress{min-width:80px;}
      .progress-bar{height: 16px; border-radius: 3px!important;
        &.bg-info{background-color:var(--primary)!important}
        &.bg-success{background-color:var(--success)!important}
      } 
    }
    &.td_status {font-weight:bold;color:#fff;
      &.translating, &.editing{background-color:var(--blue)}
      &.translated, &.edited{background-color:var(--success)}
    }
  }
  thead th{background-color:#f5f6fa;color:#7f818a;text-transform:uppercase;font-size:10px!important;padding:1rem 0.3rem!important;
    &.th_short{width:70px;}
    &.th_translator, &.th_editer{width:100px;}
    &.th_status{width:110px;}
  }
  tbody td{font-size:13px;color:#43425d;
    &.text-left{padding-left:20px;}
  }
}


