/*  Custom style  20190711 Yubin Chung */

/* common */
body{background-color:var(--light);
  .material-icons {vertical-align: middle;}
  .app-body{
    .main {padding-bottom: 100px;}
    .page-title {background-color: #fff;height: 45px;line-height: 45px; font-size: 20px;font-weight: bold;padding: 0 2rem;margin-bottom: 1rem;}
    .form-control{border-color:var(--border);height: 45px;cursor: pointer;font-size:13px;
      &:focus{box-shadow:none;}
    }
    button{box-shadow:none;outline:none;
      &.btn:focus, &.btn.focus{box-shadow:none;}
    }
  }
}

/* navbar */
.navbar{border-color:var(--border);
  .navbar-brand{
    .navbar-brand-full{display:block;width:60%;margin:0 auto}
  }
  .navbar-search {width:50%;max-width:50%;
    .btn {width: 35px;padding: 0;box-shadow:none;}
    #nav_search{box-shadow:none;border:none;}
  }
  .navbar-nav {
    .nav-item{min-width:40px;
      .img-avatar{margin:0;}
      &.dropdown{position: relative;padding-left: 20px;margin: 0 30px 0 10px;
        &:before{content:"";display:block;position: absolute;width:1px;height:25px;top:5px;left:0;background-color:var(--border)}
        .nav-link{color:var(--dark)}
      }
    }
  }
}

/* sidebar */
.sidebar{background-color:var(--dark);
  .nav-item{line-height: 18px;
    &.open{
      .nav-link{background-color:var(--primary);font-weight:bold;
      }
    }
    &:not(.open) .nav-link:hover{background-color:#545454}
    .material-icons{font-size:18px;margin-right:5px;vertical-align: bottom;}
    .nav-link{padding:0.9rem 1rem}
  }
  .nav-title{position: relative;
    .btn{position: absolute;right: 1rem;padding: 0 7px;font-weight: bold; border: none;line-height: 22px;top: 9px;box-shadow:none;}
  }
}

/* Card */
.card{
  &.job_list{
    .list-title {cursor: pointer;
      * {line-height:35px;}
      .item_meta_wrap{
        .img-avatar{width:35px;height:35px;float:left;margin-right:0.5rem;
          ~.card-title{line-height:35px;padding-left:2rem}
        }
      }
      .item_info_wrap{ 
        span{margin-left: 1rem;padding-left: 1rem;display: inline-block;
          &:first-child {margin: 0;padding: 0;}
        }
      }
      .item_status_wrap{
        .badge{padding: 0 1rem;font-size: 0.75rem;line-height: 25px!important;margin: 5px 0 0 1rem;}
      }
    }
  }
  &.job_search{
    label{font-size:13px;white-space: nowrap;}
    #job_search_cat{display:inline-block;width:30%;
      &+.input-group {width: 70%;
        #job_search{border:none;}
      }
    }
  }
}

/* select2 */
.select2-container{width:100%!important;
  .select2-dropdown{border-color:var(--border)}
  .select2-selection{border:1px solid var(--border)!important;height: 45px!important;border-radius: 3px!important;
    input.select2-search__field{line-height: 33px;padding-left: 10px;}
    .select2-selection__choice{
      &[title="In Progress"], &[title="Pending"], &[title="Complete"]{
        .select2-selection__choice__remove{color:var(--white)}
      }
      &[title="In Progress"]{border-color:var(--primary)!important;background-color:var(--primary); color:var(--white)}
      &[title="Pending"]{border-color:var(--warning)!important;background-color:var(--warning); }
      &[title="Complete"]{border-color:var(--success)!important;background-color:var(--success); color:var(--white)}
      span{line-height:25px;
        &.select2-selection__choice__remove{margin-right:7px!important}
      }
    }
  }
  .select2-results{
    .select2-results__option{padding:.5rem;
      span{line-height:25px;}
    }
    .select2-results__option--highlighted[aria-selected] {background-color: var(--primary);}
  }
  .select2-selection__choice{padding: 3px 10px!important;font-size:12px;border:1px solid var(--border)!important}
  .img-profile {margin: 0 5px 0 0!important;display: inherit!important;height:25px;width:25px;border-radius:50%;vertical-align:middle}
}

/* Table */
table{margin-top: 1rem;table-layout:fixed;
  tr{border-left:4px solid #fff;
    &.danger{border-color:var(--danger);background-color:var(--danger-light)}
    &.warning{border-color:var(--warning);background-color:var(--warning-light)}
  }
  th,td{border:none!important;text-align:center;vertical-align:middle!important;
    &.th_batchname{width:20%}
    &.table_progress {width:120px;vertical-align: middle;
      .progress-bar{height:20px;} 
    }
    &.td_status {font-weight:bold;color:#fff;
      &.translating, &.editing{background-color:var(--primary)}
      &.translated, &.edited{background-color:var(--success)}
    }
    
  }
  thead th{background-color:var(--light-gray);color:var(--dark);text-transform:uppercase;font-size:10px!important;padding:1rem 0.3rem!important;
    &.th_short{width:70px;}
    &.th_translator, &.th_editer{width:100px;}
    &.th_status{width:110px;}
    
  }
  tbody td{font-size:13px;}
}


