
/* Mediaquery */

@media screen and (min-width:0){
  // navbar
  .navbar-search{display: none;}
  // job_search
  .card.job_search {
    .card-body .row .row {
      &>div.col-sm-4 {margin-bottom:10px;}
      .col-sm-4.pr-0 {padding-right: 1rem!important;}
    }
    .sorting_wrap{border-width:0;margin-top:10px}
  }
  .msg_tbl_horizon{display:block;text-align:right;font-size: 11px;color:#73818f;margin-bottom: -15px;padding-top: 10px;
    i{font-size:16px;}
  }
}

@media screen and (max-width:991px){
  html .main{margin-left:0!important;position: relative;}
  .sidebar-show .main::before, .aside-menu-show .main::before{position: absolute;top: 0;left: 0;z-index: 1018;width: 100%;height: 100%;content: "";background: rgba(0, 0, 0, 0.7);-webkit-animation: opacity 0.25s;animation: opacity 0.25s;}
  // navbar
  .navbar-toggler.sidebar-toggler {padding-left: 2rem;margin-right: 1rem;outline:none;}
  .navbar .navbar-nav .nav-item.dropdown{
    &:before {content: none;}
    .nav-link {padding-right:0!important;
      span.user_name {display:none;}
      i {display:none!important;}
      img.img-avatar {position:static!important;}
    }
  }
  // job_list
  .card.job_list {
    .list-title {padding-bottom: 30px;position: relative;}
    .item_info_wrap {position: absolute;bottom: -5px;text-align: right;font-size: 12px;}
  }
}

@media screen and (min-width: 575px)  {
  // job_search
  .card.job_search .sorting_wrap{border-width:2px;margin-top:0;}
}

@media screen and (min-width: 575px) and (max-width:991px) {
  // job_search
  .card.job_search .card-body .row .row .col-sm-4.pr-0:not( .search_status ) {padding-right: 0!important;}
  
}

@media screen and (min-width: 992px){
  // navbar
  .navbar {
    .navbar-brand{width:200px;}
    .navbar-search{display:block;}
    .navbar-nav .nav-item.dropdown .nav-link span.user_name{display:inline-block;}
  }
}

@media screen and (min-width:1091px) {
  .msg_tbl_horizon{display:none;}
}

@media screen and (min-width: 1200px){
  // job_search
  .card.job_search .card-body .row .row {
    .col-sm-4.pr-0{padding-right:0!important;}
    &>div.col-sm-4 {margin-bottom:0;}
  }
}